{
    "parser": "flow",
    "trailingComma": "none",
    "useTabs": true,
    "printWidth": 200,
    "semi": true,
    "doubleQuote": true,
    "bracketSpacing": false,
    "bracketSameLine": true,
    "quoteProps": "preserve"
}